@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #e056fd;
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  padding: 13px 30px;
}

.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: white;
  padding: 4px 10px;
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centered button {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  margin: 15px;
}

.lyrics-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.lyrics-header img {
  width: 100%;
}

.lyrics-info a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.lyrics-info a img {
  height: 30px;
  width: auto;
  margin-right: 20px;
}

.lyrics-info hr {
  width: 70%;
  margin: 20px auto;
  border: 1px solid lightgray;
}

.lyrics-h3 {
  text-align: center;
  margin: 30px 0;
}

.audio-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid lightgray;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 25px;
}

.audio-player button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  -webkit-transition: transfrom 0.2s ease-in-out;
  transition: transfrom 0.2s ease-in-out;
}

.audio-player button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.progress-bar {
  cursor: pointer;
}

.song-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 10px;
}

.song-progress .base {
  background: #c4c4c4;
  border-radius: 2px;
  height: 3px;
  display: block;
  width: 100%;
  position: relative;
}

.song-progress .progress {
  background: #e056fd;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  border-radius: 2px;
}

.song-progress {
  width: 70%;
}

.song-progress .base,
.song-progress .progress {
  height: 6px;
  border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */