@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: #e5e5e5;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;

  img {
    height: 36px;
    width: auto;
    margin-right: 6px;
  }
  h1 {
    font-size: 36px;
    font-weight: normal;
  }
}

.app-container {
  background: #eff3f5;
  box-shadow: 0px 0px 50px rgba(120, 120, 120, 0.3);
  border-radius: 23px;
  width: 380px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.app-header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  span {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 10px;
    background: linear-gradient(135deg, #43cbff 0%, #9708cc 100%);
  }
  h2 {
    font-weight: 600;
  }
}

.songs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  width: 100%;

  h3 {
    font-weight: 600;
    font-size: 20px;
  }
}

.song {
  display: grid;
  grid-template-columns: 57px 1fr 60px;
  gap: 20px;
  margin: 10px 0 25px;
  justify-content: center;
  h4,
  h5 {
    margin: 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .song-name {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      outline: none;
      border: none;
      cursor: pointer;
      padding: 0;
      background: transparent;
      transition: transfrom 0.2s ease-in-out;

      &:active {
        transform: scale(0.8);
      }
    }
  }
}

.song-name {
  color: #070b0f;
  font-weight: 600;
}

.song-artist {
  color: #414141;
  font-weight: normal;
}

.cover {
  width: 57px;
  height: 57px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.music-controll-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.music-controll {
  display: grid;
  grid-template-columns: 57px 1fr 110px;
  width: 100%;
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    h4,
    h5 {
      margin: 0;
    }
    .song-name {
      font-size: 14px;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      outline: none;
      border: none;
      cursor: pointer;
      padding: 0;
      background: transparent;
      margin: 0 6px;
      transition: transfrom 0.2s ease-in-out;
      &:last-of-type {
        margin-right: -5px;
      }
      &:active {
        transform: scale(0.8);
      }
    }
  }
}

.song-progress {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  .base {
    background: #c4c4c4;
    border-radius: 2px;
    height: 3px;
    display: block;
    width: 100%;
    position: relative;
  }
  .progress {
    background: linear-gradient(135deg, #43cbff 0%, #9708cc 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 2px;
  }
}

.music-info-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  border-radius: 20px;
  height: 85%;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  background-color: white;
  z-index: 100;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease-in-out;
  &.show {
    transform: translateY(0);
    opacity: 1;
  }
  .hide-popup {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  h5 {
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0;
    color: #a4a4a4;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4,
    h5 {
      margin: 5px 0;
    }

    .song-name {
      font-size: 18px;
    }
  }

  .song-progress {
    width: 70%;
    .base,
    .progress {
      height: 6px;
      border-radius: 6px;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
    button {
      outline: none;
      border: none;
      cursor: pointer;
      padding: 0;
      background: transparent;
      margin: 0 6px;
      transition: transfrom 0.2s ease-in-out;
      &:active {
        transform: scale(0.8);
      }
    }
  }
}

.cover-rotate {
  margin: 10px 0;
  position: relative;
  img {
    width: 190px;
    height: 190px;
    border-radius: 100px;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
    &.play {
      animation-play-state: running;
    }
  }
  .circle {
    width: 25px;
    height: 25px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
  }
}

.volume-control {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
    margin: 0 6px;
    transition: transfrom 0.2s ease-in-out;
    &:active {
      transform: scale(0.8);
    }
  }
}

.progress-bar {
  cursor: pointer;
}

.volume-control-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 6px;
  cursor: pointer;
  .base,
  .progress {
    height: 6px;
    border-radius: 6px;
  }
  .base {
    background: #c4c4c4;
    display: block;
    width: 100%;
    position: relative;
  }
  .progress {
    background: linear-gradient(135deg, #43cbff 0%, #9708cc 100%);
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
