@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #666;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
}

.video {
  cursor: pointer;
  width: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
}

.video-controls-container {
  background-color: #333;
  color: white;
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 40px 40px 1fr 70px 200px;
  gap: 20px;
  padding: 10px;

  .btn {
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
    .fa-play {
      color: #28a745;
    }

    .fa-stop {
      color: #dc3545;
    }

    .fa-pause {
      color: #fff;
    }
    .fa-volume-down,
    .fa-volume-up,
    .fa-volume-mute {
      color: #fff;
    }
  }
}

.video-time {
  text-align: center;
  align-self: center;
}

.volume-container {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  gap: 10px;
}

@media (max-width: 800px) {
  .video,
  .video-controls-container {
    width: 90%;
  }
}
