@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #75dddd;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.container {
  height: 75vh;
  width: 45vw;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-aside {
  background-image: url('../img/aside.jpg');
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.forms-section-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow: hidden;
}

.login-slider {
  position: relative;
  user-select: none;
  cursor: pointer;
  align-self: flex-end;
  height: 40px;
  width: 170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(238, 238, 238, 0.65);
  border-radius: 45px;
  padding: 0;

  li {
    list-style: none;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    z-index: 10;
    font-weight: bold;
    color: #27305a;
    transition: all 0.45s linear;

    &.active {
      color: white;
    }
  }

  .focus-el {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% / 2);
    border-radius: 45px;
    height: 100%;
    background-color: #27305a;
  }
}

.forms-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 10px;
  width: calc(200% + 40px);
}

.form-login-container,
.form-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 0 20px;

  h3 {
    text-transform: uppercase;
    place-self: center;
  }
}

.form-login-container {
  padding-right: 40px;
  position: relative;
}

.form-element-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  gap: 8px;

  .form-element {
    width: 85% !important;
  }
  .form-input {
    width: 100%;
  }
}

.form-element {
  width: 95%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #717171;
}

.form-input {
  outline: none;
  border: 1px solid lightgray;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  padding: 10px;
  width: 100%;

  &:focus {
    outline: auto;
    outline-color: #27305a;
  }
}

.confirm-container {
  color: gray;
  font-size: 14px;
  margin: 10px 0;
  a {
    color: #27305a;
  }
}

input[type='submit'] {
  background-color: #27305a;
  padding: 15px 45px;
  border: none;
  color: white;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity ease-in-out 0.2s;

  &:hover {
    opacity: 0.95;
  }
}

.error-msg {
  color: red;
  margin-top: 3px;
  font-size: 14px;
}

.login-site {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  display: grid;
  padding: 5px 0;
  grid-template-columns: 30px 150px;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;

  img {
    width: 26px;
  }

  color: black;
  text-decoration: none;
  cursor: pointer;
}

.or-divider {
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  width: 100%;
  text-align: center;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 45%;
    background-color: lightgray;
  }

  &:before {
    top: 10px;
    left: 0;
  }

  &:after {
    top: 10px;
    right: 0;
  }
}

.login-btn {
  margin-top: 10px;
}

.github-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #939393;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  bottom: 0;

  img {
    margin-right: 8px;
  }
}
