@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
  --bg: #f6f6f6;
  --card: #ffffff;
  --headColor: #0077ff;
  --textColor: #272727;
  --lightText: #ddd;
  &[data-theme='dark'] {
    --bg: #333333;
    --card: #434343;
    --headColor: #3694ff;
    --textColor: #b5b5b5;
    --lightText: #ddd;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  color: var(--textColor);
  background-color: var(--bg);
  font-family: 'Open Sans', sans-serif;
  transition: background-color 750ms;
}

path,
rect {
  fill: var(--textColor) !important;
  transition: fill 750ms;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 40px;
  svg {
    margin-right: 10px;
  }
  span {
    font-weight: 300;
  }
  transition: color 750ms;
}

.btn {
  border: none;
  outline: none;
  background-color: var(--card);
  box-shadow: 0px 0px 7.66667px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 50px;
  color: var(--textColor);
  padding: 10px 15px;
  cursor: pointer;
  transition: color 750ms, background-color 750ms, transform 0.2s linear;

  &:hover {
    transform: scale(0.98);
  }
  svg {
    margin-right: 10px;
  }
}

.btn-ghost {
  box-shadow: none;
  background-color: transparent;
}

.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.github {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  color: var(--textColor);
}

.cards-container {
  perspective: 1000px;
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
  margin: 50px 0;
}

.card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;

  &.active {
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    transform: translateX(0%) rotateY(0deg);
  }

  &.left {
    transform: translateX(-50%) rotateY(10deg);
  }

  &.show-answer {
    .inner-card {
      transform: rotateX(180deg);
    }
  }
}

.inner-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--card);
  transition: background-color 750ms;

  .number {
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: var(--lightText);
    position: absolute;
  }

  &::after {
    content: '\f021   Flip';
    font-family: 'Font Awesome 5 Free', Open Sans !important;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--lightText);
  }
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.theme-container {
  background-color: var(--card);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  width: 200px;
  border-radius: 4px;
  max-width: 100%;
  display: grid;
  gap: 10px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 30px 1fr 30px;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    align-self: center;
    path {
      fill: var(--lightText);
    }
  }
}

.navigation {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
  font-size: 20px;
  height: 50px;
  transition: background-color 750ms, color 750ms;
  .nav-button {
    border: none;
    height: 50px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: var(--lightText);
    background-color: transparent;
    transition: color 750ms;
  }
}

.add-container {
  z-index: -1;
  opacity: 0;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 0.3s ease;

  &.show {
    opacity: 1;
    z-index: 2;
  }

  h1 {
    position: relative;
    button {
      position: absolute;
      right: 0;
      transform: translate(120%, 0);
      z-index: 2;

      &:hover {
        transform: translate(120%, 0);
      }
    }
  }

  h3 {
    margin: 10px 0;
  }
}

.form-group {
  textarea {
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    padding: 12px;
    min-width: 500px;
    max-width: 100%;
    &:last-of-type {
      margin-bottom: 30px;
    }
  }
  label {
    display: block;
    margin: 20px 0 10px;
  }
}

#switchTheme {
  height: 0;
  width: 0;
  visibility: hidden;

  &:checked + label {
    background-color: var(--headColor);
    transition: background-color 750ms;

    &::after {
      left: calc(100% - 3px);
      transform: translateX(-100%);
    }
  }
}

#switchThemeLabel {
  cursor: pointer;
  text-indent: -9999px;
  display: block;
  width: 52px;
  height: 27px;
  background: grey;
  border-radius: 100px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
  }
}
